body {
  /*background-color: #7fa998;*/
  margin: 0;
  text-align: center;
}

p {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 112.5%;
  margin-top: 10px;
  color: #545454
    /*#0f4c75*/
  ;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #7fa998;
}

h3 {
  font-family: 'Rajdhani', sans-serif;
  color: #1f6650;
  font-size: 1.57rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.top-container {
  background-color: #e1edf9;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  margin: 32.2px 0;
  color: #35477d;
  line-height: 2;
}

/*.p-container {
  position: relative;
  margin: 0 auto;
  width:380px;
}*/
a {
  text-decoration: none;
  color: #745c97;
}

a:hover {
  color: #df8543;
}

.description {
  width: 40%;
  margin: 20px auto;
  text-align: center;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.dev-img {
  height: 25%;
  width: 26%;
  float: left;
  margin-right: 30px;
}

.photo-img {
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  height: 180px;
  width: 180px;
  margin-top: 100px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: #EAF6F6;
  margin: 100px auto;
  width: 5%;
}

.bottom-container {
  background-color: #d4e8fc;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.footer-link {
  color: #545454;
  font-family: 'Changa', sans-serif;
  font-weight: 400;
  margin: 10px 20px;
}

.copyright {
  padding: 20px 0;
  color: #545454;
  font-size: 0.75rem;
}

.getintouch {
  font-family: 'Changa', sans-serif;
  font-weight: bolder;
  color: #35477d;
}

.hire {
  color: #545454
}

.myButton {
  background-color: #768d87;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 23px;
  text-decoration: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}
